<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body flex-column">
                <div class="text-center mt-2">
                    <span class="text-danger fw-bolder"> No tiene permiso para ver esta pagina</span>
                </div>

            </div>
        </div>
    </div>


</div>




